* {
	border: none;
	border-radius: 0;
	font-size: 16px;
	min-height: 0;
	padding:0;
	font-weight:normal;
}
window#waybar {
	background: #000000;
	color: #eeeeee;
}


#workspaces {
	font-family: Material Design Icons;
}
#workspaces button {
	padding: 0 8px;
	font-size:28px;
}
#workspaces button.focused {
	color:#2EB398;
}
#mode {
	color:#DB5B5B;
	margin-left:8px;
}
#mpd {
	margin-left:20px;
}

#mpd, #clock {
	font-family: DejaVu Sans Mono;
}



#battery, #cpu, #memory, #pulseaudio, #network {
	font-family: Material Design Icons;
	padding:0;
	margin:0 3px;
}
#battery, #cpu, #memory, #pulseaudio.loud, #network {
	color:#2EB398;
}
#battery.warning:not(.charging), #cpu.warning, #memory.warning, #pulseaudio, #network.disconnected {
	color:#DB5B5B;
}
