* {
	border: none;
	border-radius: 0;
	font-family: DejaVu Sans Mono, Material Design Icons;
	font-size: 16px;
	min-height: 0;
	padding:0;
}
window#waybar {
	background: #000000;
	color: #eeeeee;
}

#workspaces button {
	padding: 0 8px;
	font-size:28px;
}
#workspaces button.focused {
	color:#2EB398;
}
#mode {
	color:#DB5B5B;
	margin-left:8px;
}
#mpd {
	margin-left:20px;
}

#cpu, #memory, #pulseaudio {
	padding: 0 8px;
}
#cpu, #memory, #pulseaudio, #network {
	color:#2EB398;
}
#cpu.warning, #memory.warning, #pulseaudio.loud, #network.disconnected {
	color:#DB5B5B;
}
#battery {
	padding: 0 10px;
	margin: 0 5px;
	color:#2EB398;
}
#battery.warning:not(.charging) {
	color:#DB5B5B;
}
