// Zellij Configuration
//   Penn Bauman <me@pennbauman.com>
//   https://github.com/pennbauman/dotfiles


// Send a request for a simplified ui (without arrow fonts) to plugins
simplified_ui true

// Choose the theme that is specified in the themes section.
theme "maia"

// Configure the scroll back buffer size
scroll_buffer_size 10000

// The name of the default layout to load on startup
default_layout "double"

// Disable hover highlight
advanced_mouse_actions false

themes {
    maia {
        fg 87 91 97
        bg 144 144 144
        black 0 0 0
        red 219 91 91
        green 46 179 152
        yellow 240 192 126
        blue 78 162 193
        magenta 181 110 167
        cyan 181 228 244
        white 144 144 144
        orange 210 132 69
    }
}
