# hps2020 Crontab
#   Penn Bauman <me@pennbauman.com>
@reboot rm -rf $(find $HOME/.cache -type f -mtime +30 -print)
@daily  rm -rf $(find $HOME/.cache -type f -mtime +30 -print)
@reboot rm -rf $(find $HOME/.trash -type f -atime +5 -print)
@daily  rm -rf $(find $HOME/.trash -type f -atime +5 -print)
